@model IEnumerable<HelloWorld.Models.Pessoa>

@{
    ViewData["Title"] = "Index";
}

<h1>Página de pessoas</h1>

<p>
    <a asp-action="Create">Adicionar pessoa</a>
</p>
<div>
    <a asp-action="Index">Lista completa de pessoas</a>
</div>
<p>
    @using(Html.BeginForm("Index", "Pessoa", FormMethod.Get))
    {
        <b>Procurar por:</b> @Html.RadioButton("procurarPor", "Nome") <text>Nome</text>
        @Html.RadioButton("procurarPor", "Sobrenome") <text>Sobrenome</text><br />
        @Html.TextBox("procurar") <input type="submit" value="Buscar" />
    }
</p>
<table class="table">
    <thead>
        <tr>           
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDeNascimento)
            </th>
        </tr>
    </thead>
@if (Model.Count() == 0)
{
    <tr> 
        <td colspan="4">Não existem pessoas</td>
   </tr>
}
else
{
    <tbody>
@foreach (var item in Model)
{
        <tr>           
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDeNascimento)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>}
    </tbody>
}
</table>


