@model IEnumerable<HelloWorld.Models.Pessoa>

@{
    ViewData["Title"] = "Index";
}

<h1>Página de pessoas</h1>

<p>
    <a asp-action="Create">Adicionar pessoa</a>
</p>
<p>
    <a asp-action="Search">Buscar pessoa</a>
</p>
<table class="table">
    <thead>
        <tr>           
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDeNascimento)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>           
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDeNascimento)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
